@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  background-color: black;
}

#root {
  width: 100vw;
  height: 100vh;
  font-size: 12px;
}

.center {
  display: 'flex';
  justify-content: center;
  align-items: center;
}
